.button {
  margin: 0 auto;
  min-width: 150px;
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  color: #000;
  background-color: #74ee9b;
  text-align: center;
  border-radius: 2px;
  border: 0;
}
.button:hover,
.button:focus {
  background-color: #605ec2;
}