.searchbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #00acd9;
  background-image: linear-gradient(to bottom, #605ec2, #3d75d1, #0089d9, #009cdb, #00acd9, #00bbd9, #00c8d3, #13d5c8, #40e3b5, #74ee9b, #a8f77c, #e0fb5f);
}

.button{
    margin-right: 20px;
}

.input {
    padding: 10px;
    font-size: 20px;
}