.gallery {
  max-width: calc(100vw - 60px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: 260px;
  gap: 15px;
  list-style: none;
  padding: 0;
}
